html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Code*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bgColor);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.containers {
    min-height: 280px;
    max-height: 400px;
    background-color: black;
    width: 100vw;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
    width: 100%;
    background-image: url('pict/auditorium.jpeg');
    background-size: cover;
    background-position: bottom center;
    filter: contrast(1.1);
    transform: translate3d(0px, 0px, 0px);
    
}

.img::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 29, 29, 0.25);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    font-family: 'Oswald', Arial;
    font-size: 65px;
    font-weight: 550;
    pointer-events: none;
}
