.diss {
    font-size: 22px;
    font-weight: 650;
    font-family: 'PT Sans', sans-serif;
    left: 430px;
}
#pictAll{
    padding: 4px 2px 4px 6px ;
}

@media (max-width: 390px) {
    .diss {
        display: none;
    }
}

@media (min-width: 391px) {
    .diss {
        display: inline-block;
    }
}
.offcanvas {
    transition-duration: 0.4s;
  }