.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
#ContainerHeader h1 {
    font-size: 40px;
    text-align: center;
}

#ContainerHeader {
    margin-bottom: 0px;
}

#ContainerSign {
    margin-top: 0px;
    padding-top: 0px;
    padding: 20px 35px;
    border-radius: 25px;
    padding-bottom: 40px;
}

/*for chrome & safari*/
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

/*firefox*/
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}